﻿@page
@using Admin.Web.Extensions
@using Yes.CreditApplication.Api.Contracts.Enums
@using Yes.Infrastructure.Common.Extensions
@model CreditApplication
@{
    ViewData["Title"] = "Информация по заявке";
}

@if (Model.CreditApplicationId == Guid.Empty)
{
    @await Html.PartialAsync("_Error")
}
else
{
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nameInput">Имя клиента</label>
                <input type="text" class="form-control" id="nameInput" value="@Model.Name" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="creditApplicationNumberInput">Номер заявки</label>
                <input type="text" class="form-control" id="creditApplicationNumberInput" value="@Model.CreditApplicationId" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="phoneNumberInput">Телефон</label>
                <input type="text" class="form-control" id="phoneNumberInput" value="@Model.PhoneNumber" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="emailInput">E-mail</label>
                <input type="text" class="form-control" id="emailInput" value="@Model.Email" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="creditAmountInput">Сумма кредита</label>
                <input type="text" class="form-control" id="creditAmountInput" value="@Model.CreditAmount" readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="creditPeriodMonthsInput">Срок кредита (месяцев)</label>
                <input type="text" class="form-control" id="creditPeriodMonthsInput" value="@(Model.CreditPeriod / 30)" readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="creditPeriodDaysInput">Срок кредита (дней)</label>
                <input type="text" class="form-control" id="creditPeriodDaysInput" value="@Model.CreditPeriod" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="creditOrganizationInput">Партнер</label>
                <input type="text" class="form-control" id="creditOrganizationInput" value="@Model.CreditOrganizationName" readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="profileTypeInput">Анкета</label>
                <input type="text" class="form-control" id="profileTypeInput" value="@Model.ProfileType.GetDescription()" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="creditApplicationDateInput">Дата и время заявки</label>
                <input type="text" class="form-control" id="creditApplicationDateInput" value="@Model.CreditApplicationDate" readonly>
            </div>
        </div>
    </form>
    <div id="creditApplicationDecisionsDiv">
        @await Html.PartialAsync("_CreditApplicationDecisions", Model.CreditApplicationDecisions)
    </div>

    @if (Model.Step >= CreditApplicationStep.ConfirmationCode && 
            (Model.Status == CreditApplicationStatus.Draft ||
             Model.Status == CreditApplicationStatus.New ||
             Model.Status == CreditApplicationStatus.UnableToContact ||
             Model.Status == CreditApplicationStatus.NeedToCallBack ||
             Model.Status == CreditApplicationStatus.TechnicalProblem || 
             User.IsInRole("Admin") && Model.Status != CreditApplicationStatus.InProgress))
    {
        <a class="btn btn-primary" href="#" onClick="update(@((int)CreditApplicationStatus.InProgress)); return false;">Взять в работу</a>
    }
    @if (Model.Status == CreditApplicationStatus.InProgress)
    {
        <div class="form-row">
            <div class="col">
                <div class="btn-group w-100">
                    <input type="text" class="form-control" id="inputComment" placeholder="Комментарий">
                </div>
            </div>
            <div class="col">            
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="processButton">Завершить</button>
                    <div class="dropdown-menu" aria-labelledby="processButton">
                        <a class="dropdown-item" href="#" onClick="update(@((int)CreditApplicationStatus.Processed));">@CreditApplicationStatus.Processed.GetDescription()</a>    
                        <a class="dropdown-item" href="#" onClick="update(@((int)CreditApplicationStatus.UnableToContact));">@CreditApplicationStatus.UnableToContact.GetDescription()</a>
                        <a class="dropdown-item" href="#" onClick="update(@((int)CreditApplicationStatus.NeedToCallBack));">@CreditApplicationStatus.NeedToCallBack.GetDescription()</a>
                        <a class="dropdown-item" href="#" onClick="update(@((int)CreditApplicationStatus.Rejected));">@CreditApplicationStatus.Rejected.GetDescription()</a>
                        <a class="dropdown-item" href="#" onClick="update(@((int)CreditApplicationStatus.ClientRejected));">@CreditApplicationStatus.ClientRejected.GetDescription()</a>
                        <a class="dropdown-item" href="#" onClick="update(@((int)CreditApplicationStatus.TechnicalProblem));">@CreditApplicationStatus.TechnicalProblem.GetDescription()</a>    
                    </div>
                </div>
                <div class="btn-group">
                    <a class="btn btn-primary" asp-page="./CreditApplicationEdit" asp-route-creditApplicationId="@Model.CreditApplicationId">Редактировать</a>
                </div>
                @*<div class="btn-group">
                    <button class="btn btn-light mb-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sendEmailButton"><svg style="margin-top: -3px; margin-right: 1px;" class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <div class="dropdown-menu" aria-labelledby="sendEmailButton">
                        <a class="dropdown-item" href="#">Решение</a>
                        <a class="dropdown-item" href="#">Недозвон</a>     
                    </div>
                </div>*@
            </div>
            <div class="col">
                @if (Model.Status == CreditApplicationStatus.InProgress)
                {
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-light" onclick="refreshCreditApplicationDecisions();">
                            <svg style="margin-top: -3px; margin-right: 1px;" class="bi bi-arrow-clockwise" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 017.103-3.16.5.5 0 10.454-.892A6 6 0 1013.455 5.5a.5.5 0 00-.91.417 5 5 0 11-9.375.789z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M8.147.146a.5.5 0 01.707 0l2.5 2.5a.5.5 0 010 .708l-2.5 2.5a.5.5 0 11-.707-.708L10.293 3 8.147.854a.5.5 0 010-.708z" clip-rule="evenodd"/>
                            </svg> Обновить
                        </button>
                    </div>   
                }            
            </div>
        </div>
    }

    <p></p>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Статус</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.CreditApplicationChanges)
        {
            <tr>
                <td>@item.Date.ToDateAndTimeFormat()</td>
                <td>@item.Status.GetDescription()</td>
                <td>@item.Comment</td>
            </tr>
        }
        </tbody>
    </table>
    @section scripts
    {
        <script>
            function update(status){
                $.ajax({
                    type: 'POST',
                    url: '/CreditApplication?handler=Update&creditApplicationId=@Model.CreditApplicationId',
                    data: JSON.stringify({ 
                        status: status,
                        comment: $('#inputComment').val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    }  
                })
                .done(function (response) {
                    if (response.isSuccess)
                        window.location.href = response.redirectUrl;
                    else
                        alert(response.message);
                })
                .fail(function() { 
                    alert('Ошибка при отправке запроса'); 
                });
                return false;
            }
               
            function resendCreditApplicationRequest(creditOrganizationId){
                $.ajax({
                    type: 'GET',
                    url: '/CreditApplication?handler=ResendCreditApplicationRequest&creditApplicationId=@Model.CreditApplicationId&creditOrganizationId=' + creditOrganizationId                  
                })
                .done(function (response) {
                    if (response.isSuccess)
                        refreshCreditApplicationDecisions();
                    else
                        alert(response.message);                
                })
                .fail(function() { 
                    alert('Ошибка при отправке запроса'); 
                });            
            }
            
            function confirmCreditApplication(creditOrganizationId){
                $.ajax({
                    type: 'GET',
                    url: '/CreditApplication?handler=ConfirmCreditApplication&creditApplicationId=@Model.CreditApplicationId&creditOrganizationId=' + creditOrganizationId                  
                })
                .done(function (response) {
                    if (response.isSuccess)
                        refreshCreditApplicationDecisions();
                    else
                        alert(response.message);                
                })
                .fail(function() { 
                    alert('Ошибка при отправке запроса'); 
                });            
            }
            
            function refreshCreditApplicationDecisions(){
                $('#creditApplicationDecisionsDiv').load('/CreditApplication?handler=CreditApplicationDecisions&creditApplicationId=@Model.CreditApplicationId');       
            }
                    
            $(function () {
                $('[data-toggle="popover"]').popover({
                    placement:'auto'
                });
                            
              /*  $('.popover-dismiss').popover({
                   trigger: 'focus'
                });*/
            });
            
              
        </script>
    }
}
