﻿@page
@using Admin.Web.Extensions
@using Yes.CreditApplication.Api.Contracts.Enums
@using Yes.Infrastructure.Common.Extensions
@model CreditApplicationEdit
@{
    ViewData["Title"] = "Редактирование заявки";
}
@if (Model.CreditApplication == null)
{
    @await Html.PartialAsync("_Error")
}
else
{
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" autocomplete="off">
                <h6>Основные данные</h6>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.CreditAmount" value="@Model.CreditApplication.CreditAmount" placeholder="Сумма кредита" data-mask="#">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.CreditPeriod" value="@Model.CreditApplication.CreditPeriod" placeholder="Срок кредита (дней)" data-mask="#">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.LastName" value="@Model.CreditApplication.LastName" placeholder="Фамилия">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.FirstName" value="@Model.CreditApplication.FirstName" placeholder="Имя">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.MiddleName" value="@Model.CreditApplication.MiddleName" placeholder="Отчество">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.Email" value="@Model.CreditApplication.Email" placeholder="E-mail">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" value="@Model.CreditApplication.PhoneNumber" placeholder="Телефон" disabled>
                </div>
                <hr />
                <div class="form-group date form-row">
                    <input type="text" class="form-control" name="CreditApplication.DateOfBirth" value="@Model.CreditApplication.DateOfBirth.ToDateFormat()" placeholder="Дата рождения" data-mask="00.00.0000">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.PlaceOfBirth" value="@Model.CreditApplication.PlaceOfBirth" placeholder="Место рождения">
                </div>
                <div class="form-group form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CreditApplication.Gender" id="genderMale" value="@((int)Gender.Male)" checked="@(Model.CreditApplication.Gender == Gender.Male)">
                    <label class="form-check-label" for="genderMale">@Gender.Male.GetDescription()</label>
                </div>
                <div class="form-group form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CreditApplication.Gender" id="genderFemale" value="@((int)Gender.Female)" checked="@(Model.CreditApplication.Gender == Gender.Female)">
                    <label class="form-check-label" for="genderFemale">@Gender.Female.GetDescription()</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" style="padding-left: 0">
                        <input type="text" class="form-control" name="CreditApplication.PassportSeries" value="@Model.CreditApplication.PassportSeries" placeholder="Серия" data-mask="0000">
                    </div>
                    <div class="form-group col-md-8" style="padding-right: 0">
                        <input type="text" class="form-control" name="CreditApplication.PassportNumber" value="@Model.CreditApplication.PassportNumber" placeholder="Номер" data-mask="000000">
                    </div>
                </div>
                <h6>Паспортные данные</h6>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.PassportIssuer" value="@Model.CreditApplication.PassportIssuer" placeholder="Кем выдан">
                </div>
                <div class="form-group date form-row">
                    <input type="text" class="form-control" name="CreditApplication.PassportIssueDate" value="@Model.CreditApplication.PassportIssueDate.ToDateFormat()" placeholder="Когда выдан" data-mask="00.00.0000">
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.PassportDepartmentCode" value="@Model.CreditApplication.PassportDepartmentCode" placeholder="Код подразделения" data-mask="000-000">
                </div>
                <h6>Адрес регистрации (прописки)</h6>
                <input type="hidden" name="CreditApplication.RegistrationAddressKladrCode" value="@Model.CreditApplication.RegistrationAddressKladrCode">
                <div class="form-group form-row d-block">
                    <input type="text" class="form-control" name="CreditApplication.RegistrationAddressRegion" value="@Model.CreditApplication.RegistrationAddressRegion" placeholder="Регион">
                    <input type="hidden" name="CreditApplication.RegistrationAddressRegionKladrCode" value="@Model.CreditApplication.RegistrationAddressRegionKladrCode">
                </div>
                <div class="form-group form-row d-block">
                    <input type="text" class="form-control" name="CreditApplication.RegistrationAddressCity" value="@Model.CreditApplication.RegistrationAddressCity" placeholder="Населенный пункт">
                    <input type="hidden" name="CreditApplication.RegistrationAddressCityKladrCode" value="@Model.CreditApplication.RegistrationAddressCityKladrCode">
                </div>
                <div class="form-group form-row d-block">
                    <input type="text" class="form-control" name="CreditApplication.RegistrationAddressStreet" value="@Model.CreditApplication.RegistrationAddressStreet" placeholder="Улица">
                    <input type="hidden" name="CreditApplication.RegistrationAddressStreetKladrCode" value="@Model.CreditApplication.RegistrationAddressStreetKladrCode">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" style="padding-left: 0">
                        <input type="text" class="form-control" name="CreditApplication.RegistrationAddressHouse" value="@Model.CreditApplication.RegistrationAddressHouse" placeholder="Дом">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="CreditApplication.RegistrationAddressBlock" value="@Model.CreditApplication.RegistrationAddressBlock" placeholder="Корпус">
                    </div>
                    <div class="form-group col-md-4" style="padding-right: 0">
                        <input type="text" class="form-control" name="CreditApplication.RegistrationAddressBuilding" value="@Model.CreditApplication.RegistrationAddressBuilding" placeholder="Строение">
                    </div>
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.RegistrationAddressApartment" value="@Model.CreditApplication.RegistrationAddressApartment" placeholder="Квартира">
                </div>                
                <div class="form-group">
                    <label>
                        <input type="checkbox" id="residenceAddressEquals" checked="@Model.CreditApplication.ResidenceAddressEquals()" style="margin-top: 7px;"/>
                        Проживаю по прописке
                    </label>
                </div>
                <h6>Адрес проживания</h6>
                <input type="hidden" name="CreditApplication.ResidenceAddressKladrCode" value="@Model.CreditApplication.ResidenceAddressKladrCode">
                <div class="form-group form-row d-block">
                    <input type="text" class="form-control" name="CreditApplication.ResidenceAddressRegion" value="@Model.CreditApplication.ResidenceAddressRegion" placeholder="Регион">
                    <input type="hidden" name="CreditApplication.ResidenceAddressRegionKladrCode" value="@Model.CreditApplication.ResidenceAddressRegionKladrCode">
                </div>
                <div class="form-group form-row d-block">
                    <input type="text" class="form-control" name="CreditApplication.ResidenceAddressCity" value="@Model.CreditApplication.ResidenceAddressCity" placeholder="Населенный пункт">
                    <input type="hidden" name="CreditApplication.ResidenceAddressCityKladrCode" value="@Model.CreditApplication.ResidenceAddressCityKladrCode">
                </div>
                <div class="form-group form-row d-block">
                    <input type="text" class="form-control" name="CreditApplication.ResidenceAddressStreet" value="@Model.CreditApplication.ResidenceAddressStreet" placeholder="Улица">
                    <input type="hidden" name="CreditApplication.ResidenceAddressStreetKladrCode" value="@Model.CreditApplication.ResidenceAddressStreetKladrCode">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" style="padding-left: 0">
                        <input type="text" class="form-control" name="CreditApplication.ResidenceAddressHouse" value="@Model.CreditApplication.ResidenceAddressHouse" placeholder="Дом">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="CreditApplication.ResidenceAddressBlock" value="@Model.CreditApplication.ResidenceAddressBlock" placeholder="Корпус">
                    </div>
                    <div class="form-group col-md-4" style="padding-right: 0">
                        <input type="text" class="form-control" name="CreditApplication.ResidenceAddressBuilding" value="@Model.CreditApplication.ResidenceAddressBuilding" placeholder="Строение">
                    </div>
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.ResidenceAddressApartment" value="@Model.CreditApplication.ResidenceAddressApartment" placeholder="Квартира">
                </div>
                <h6>Личные данные</h6>
                <div class="form-group form-row">
                    <select class="form-control" name="CreditApplication.Education">
                        <option value="" selected disabled>Образование</option>
                        <option value="@((int)Education.PrimarySchool)" selected="@(Model.CreditApplication.Education == Education.PrimarySchool)">@Education.PrimarySchool.GetDescription()</option>
                        <option value="@((int)Education.HighSchool)" selected="@(Model.CreditApplication.Education == Education.HighSchool)">@Education.HighSchool.GetDescription()</option>
                        <option value="@((int)Education.SpecializedHighSchool)" selected="@(Model.CreditApplication.Education == Education.SpecializedHighSchool)">@Education.SpecializedHighSchool.GetDescription()</option>
                        <option value="@((int)Education.IncompleteSecondaryEducation)" selected="@(Model.CreditApplication.Education == Education.IncompleteSecondaryEducation)">@Education.IncompleteSecondaryEducation.GetDescription()</option>
                        <option value="@((int)Education.IncompleteHigherEducation)" selected="@(Model.CreditApplication.Education == Education.IncompleteHigherEducation)">@Education.IncompleteHigherEducation.GetDescription()</option>
                        <option value="@((int)Education.HigherEducation)" selected="@(Model.CreditApplication.Education == Education.HigherEducation)">@Education.HigherEducation.GetDescription()</option>
                        <option value="@((int)Education.TwoOrMoreHigherEducations)" selected="@(Model.CreditApplication.Education == Education.TwoOrMoreHigherEducations)">@Education.TwoOrMoreHigherEducations.GetDescription()</option>
                        <option value="@((int)Education.AcademicDegree)" selected="@(Model.CreditApplication.Education == Education.AcademicDegree)">@Education.AcademicDegree.GetDescription()</option>
                    </select>
                </div>
                <div class="form-group form-row">
                    <select class="form-control" name="CreditApplication.MaritalStatus">
                        <option value="" selected disabled>Семейное положение</option>
                        <option value="@((int)MaritalStatus.Single)" selected="@(Model.CreditApplication.MaritalStatus == MaritalStatus.Single)">@MaritalStatus.Single.GetDescription()</option>
                        <option value="@((int)MaritalStatus.Married)" selected="@(Model.CreditApplication.MaritalStatus == MaritalStatus.Married)">@MaritalStatus.Married.GetDescription()</option>
                        <option value="@((int)MaritalStatus.Widowed)" selected="@(Model.CreditApplication.MaritalStatus == MaritalStatus.Widowed)">@MaritalStatus.Widowed.GetDescription()</option>
                        <option value="@((int)MaritalStatus.Divorced)" selected="@(Model.CreditApplication.MaritalStatus == MaritalStatus.Divorced)">@MaritalStatus.Divorced.GetDescription()</option>
                        <option value="@((int)MaritalStatus.Remarriage)" selected="@(Model.CreditApplication.MaritalStatus == MaritalStatus.Remarriage)">@MaritalStatus.Remarriage.GetDescription()</option>
                        <option value="@((int)MaritalStatus.CivilMarriage)" selected="@(Model.CreditApplication.MaritalStatus == MaritalStatus.CivilMarriage)">@MaritalStatus.CivilMarriage.GetDescription()</option>
                    </select>
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.DependentsCount" value="@Model.CreditApplication.DependentsCount" placeholder="Количество детей" data-mask="#">
                </div>
                <div class="form-group form-row phone">
                    <input type="text" class="form-control" name="CreditApplication.AdditionalPhoneNumber" value="@Model.CreditApplication.AdditionalPhoneNumber" placeholder="Дополнительный номер телефона" data-mask="+7 (000) 000-00-00">
                </div>
                <div class="form-group form-row">
                    <select class="form-control" name="CreditApplication.AdditionalPhoneNumberType">
                        <option value="" selected disabled>Тип дополнительного номера</option>
                        <option value="@((int)AdditionalPhoneNumberType.Spouse)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Spouse)">@AdditionalPhoneNumberType.Spouse.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Mother)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Mother)">@AdditionalPhoneNumberType.Mother.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Father)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Father)">@AdditionalPhoneNumberType.Father.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Brother)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Brother)">@AdditionalPhoneNumberType.Brother.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Sister)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Sister)">@AdditionalPhoneNumberType.Sister.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Son)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Son)">@AdditionalPhoneNumberType.Son.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Daughter)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Daughter)">@AdditionalPhoneNumberType.Daughter.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Grandmother)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Grandmother)">@AdditionalPhoneNumberType.Grandmother.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Grandfather)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Grandfather)">@AdditionalPhoneNumberType.Grandfather.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Friend)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Friend)">@AdditionalPhoneNumberType.Friend.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Colleague)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Colleague)">@AdditionalPhoneNumberType.Colleague.GetDescription()</option>
                        <option value="@((int)AdditionalPhoneNumberType.Other)" selected="@(Model.CreditApplication.AdditionalPhoneNumberType == AdditionalPhoneNumberType.Other)">@AdditionalPhoneNumberType.Other.GetDescription()</option>
                    </select>
                </div>
                <div class="form-group form-row">
                    <select class="form-control" name="CreditApplication.ConfirmationDocument">
                        <option value="" selected disabled>Подтверждение дохода</option>
                        <option value="@((int)ConfirmationDocument.IncomeStatement)" selected="@(Model.CreditApplication.ConfirmationDocument == ConfirmationDocument.IncomeStatement)">@ConfirmationDocument.IncomeStatement.GetDescription()</option>
                        <option value="@((int)ConfirmationDocument.EmployerStampedIncomeStatement)" selected="@(Model.CreditApplication.ConfirmationDocument == ConfirmationDocument.EmployerStampedIncomeStatement)">@ConfirmationDocument.EmployerStampedIncomeStatement.GetDescription()</option>
                        <option value="@((int)ConfirmationDocument.BankStatement)" selected="@(Model.CreditApplication.ConfirmationDocument == ConfirmationDocument.BankStatement)">@ConfirmationDocument.BankStatement.GetDescription()</option>
                        <option value="@((int)ConfirmationDocument.PensionFundBankStatement)" selected="@(Model.CreditApplication.ConfirmationDocument == ConfirmationDocument.PensionFundBankStatement)">@ConfirmationDocument.PensionFundBankStatement.GetDescription()</option>
                        <option value="@((int)ConfirmationDocument.NoDocument)" selected="@(Model.CreditApplication.ConfirmationDocument == ConfirmationDocument.NoDocument)">@ConfirmationDocument.NoDocument.GetDescription()</option>
                    </select>
                </div>
                <h6>Наличие собственности</h6>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="CreditApplication.HasFlat" style="margin-left: 20px;">
                            <input asp-for="CreditApplication.HasFlat" style="margin-top: 7px;"/>
                            Квартира
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="CreditApplication.HasHouse" style="margin-left: 20px;">
                            <input asp-for="CreditApplication.HasHouse" style="margin-top: 7px;"/>
                            Дом
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="CreditApplication.HasArea" style="margin-left: 20px;">
                            <input asp-for="CreditApplication.HasArea" style="margin-top: 7px;"/>
                            Участок
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="CreditApplication.HasCar" style="margin-left: 20px;">
                            <input asp-for="CreditApplication.HasCar" style="margin-top: 7px;"/>
                            Автомобиль
                        </label>
                    </div>
                </div>
                <hr />
                <div class="form-group form-row">
                    <select class="form-control" name="CreditApplication.Activity">
                        <option value="" selected disabled>Вид деятельности</option>
                        <option value="@((int)Activity.Employee)" selected="@(Model.CreditApplication.Activity == Activity.Employee)">@Activity.Employee.GetDescription()</option>
                        <option value="@((int)Activity.SelfEmployed)" selected="@(Model.CreditApplication.Activity == Activity.SelfEmployed)">@Activity.SelfEmployed.GetDescription()</option>
                        <option value="@((int)Activity.Unemployed)" selected="@(Model.CreditApplication.Activity == Activity.Unemployed)">@Activity.Unemployed.GetDescription()</option>
                    </select>
                </div>
                <div class="form-group form-row d-block">
                    <input type="text" class="form-control" name="CreditApplication.Tin" value="@Model.CreditApplication.Tin" placeholder="ИНН работодателя" data-mask="000000000000">
                </div>
                <div id="employerInfo">
                    <div class="form-group form-row">
                        <input type="text" class="form-control" name="CreditApplication.EmployerName" value="@Model.CreditApplication.EmployerName" placeholder="Наименование работодателя">
                    </div>
                    <h6>Адрес работодателя</h6>
                    <input type="hidden" name="CreditApplication.EmployerAddressKladrCode" value="@Model.CreditApplication.EmployerAddressKladrCode">
                    <div class="form-group form-row d-block">
                        <input type="text" class="form-control" name="CreditApplication.EmployerAddressRegion" value="@Model.CreditApplication.EmployerAddressRegion" placeholder="Регион">
                        <input type="hidden" name="CreditApplication.EmployerAddressRegionKladrCode" value="@Model.CreditApplication.EmployerAddressRegionKladrCode">
                    </div>
                    <div class="form-group form-row d-block">
                        <input type="text" class="form-control" name="CreditApplication.EmployerAddressCity" value="@Model.CreditApplication.EmployerAddressCity" placeholder="Населенный пункт">
                        <input type="hidden" name="CreditApplication.EmployerAddressCityKladrCode" value="@Model.CreditApplication.EmployerAddressCityKladrCode">
                    </div>
                    <div class="form-group form-row d-block">
                        <input type="text" class="form-control" name="CreditApplication.EmployerAddressStreet" value="@Model.CreditApplication.EmployerAddressStreet" placeholder="Улица">
                        <input type="hidden" name="CreditApplication.EmployerAddressStreetKladrCode" value="@Model.CreditApplication.EmployerAddressStreetKladrCode">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4" style="padding-left: 0">
                            <input type="text" class="form-control" name="CreditApplication.EmployerAddressHouse" value="@Model.CreditApplication.EmployerAddressHouse" placeholder="Дом">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="CreditApplication.EmployerAddressBlock" value="@Model.CreditApplication.EmployerAddressBlock" placeholder="Корпус">
                        </div>
                        <div class="form-group col-md-4" style="padding-right: 0">
                            <input type="text" class="form-control" name="CreditApplication.EmployerAddressBuilding" value="@Model.CreditApplication.EmployerAddressBuilding" placeholder="Строение">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <input type="text" class="form-control" name="CreditApplication.EmployerAddressApartment" value="@Model.CreditApplication.EmployerAddressApartment" placeholder="Квартира">
                    </div>
                    <h6>Данные о работодателе</h6>
                    <div class="form-group form-row">
                        <select class="form-control" name="CreditApplication.EmployerIndustry">
                            <option value="" selected disabled>Отрасль</option>
                            <option value="@((int)EmployerIndustry.Banks)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Banks)">@EmployerIndustry.Banks.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.CharityAndReligiousOrganizations)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.CharityAndReligiousOrganizations)">@EmployerIndustry.CharityAndReligiousOrganizations.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Military)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Military)">@EmployerIndustry.Military.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.CivilService)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.CivilService)">@EmployerIndustry.CivilService.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Mining)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Mining)">@EmployerIndustry.Mining.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Healthcare)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Healthcare)">@EmployerIndustry.Healthcare.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Gambling)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Gambling)">@EmployerIndustry.Gambling.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.InformationTechnology)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.InformationTechnology)">@EmployerIndustry.InformationTechnology.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.ScienceEducation)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.ScienceEducation)">@EmployerIndustry.ScienceEducation.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.HumanResources)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.HumanResources)">@EmployerIndustry.HumanResources.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Manufacturing)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Manufacturing)">@EmployerIndustry.Manufacturing.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Marketing)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Marketing)">@EmployerIndustry.Marketing.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Restaurants)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Restaurants)">@EmployerIndustry.Restaurants.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Agriculture)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Agriculture)">@EmployerIndustry.Agriculture.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Insurance)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Insurance)">@EmployerIndustry.Insurance.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Development)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Development)">@EmployerIndustry.Development.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Trading)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Trading)">@EmployerIndustry.Trading.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Transport)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Transport)">@EmployerIndustry.Transport.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Tourism)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Tourism)">@EmployerIndustry.Tourism.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.LegalServices)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.LegalServices)">@EmployerIndustry.LegalServices.GetDescription()</option>
                            <option value="@((int)EmployerIndustry.Other)" selected="@(Model.CreditApplication.EmployerIndustry == EmployerIndustry.Other)">@EmployerIndustry.Other.GetDescription()</option>
                        </select>
                    </div>
                    <div class="form-group form-row">
                        <input type="text" class="form-control" name="CreditApplication.EmployerStaff" value="@Model.CreditApplication.EmployerStaff" placeholder="Численность работников" data-mask="#">
                    </div>
                    <div class="form-group form-row phone">
                        <input type="text" class="form-control" name="CreditApplication.EmployerPhoneNumber" value="@Model.CreditApplication.EmployerPhoneNumber" placeholder="Рабочий телефон" data-mask="+7 (000) 000-00-00">
                    </div>
                    <div class="form-group date form-row">
                        <input type="text" class="form-control" name="CreditApplication.EmployeeStartDate" value="@Model.CreditApplication.EmployeeStartDate.ToDateFormat()" placeholder="Дата начала работы на текущем месте" data-mask="00.00.0000">
                    </div>
                    <div class="form-group form-row">
                        <select class="form-control" name="CreditApplication.EmployeePosition">
                            <option value="" selected disabled>Должность</option>
                            <option value="@((int)EmployeePosition.Employee)" selected="@(Model.CreditApplication.EmployeePosition == EmployeePosition.Employee)">@EmployeePosition.Employee.GetDescription()</option>
                            <option value="@((int)EmployeePosition.Specialist)" selected="@(Model.CreditApplication.EmployeePosition == EmployeePosition.Specialist)">@EmployeePosition.Specialist.GetDescription()</option>
                            <option value="@((int)EmployeePosition.Manager)" selected="@(Model.CreditApplication.EmployeePosition == EmployeePosition.Manager)">@EmployeePosition.Manager.GetDescription()</option>
                            <option value="@((int)EmployeePosition.Head)" selected="@(Model.CreditApplication.EmployeePosition == EmployeePosition.Head)">@EmployeePosition.Head.GetDescription()</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-row">
                    <input type="text" class="form-control" name="CreditApplication.MonthlyIncome" value="@Model.CreditApplication.MonthlyIncome" placeholder="Доход в месяц" data-mask="#">
                </div>
                <button type="submit" class="btn btn-primary" onclick="beforeSubmit();">Сохранить</button>
            </form>
        </div>
    </div>
    @section scripts
    {
        <link rel="stylesheet" href="~/lib/dadata/suggestions.css" />
        <script src="~/lib/dadata/jquery.suggestions.js"></script>
        <script>
            let token = "23b9d063cf89b71996ca2beb030e4667ef34f7d4";
            let registrationAddress = {
                regionInput: $("input[name$='RegistrationAddressRegion']"),
                regionKladrCodeInput: $("input[name$='RegistrationAddressRegionKladrCode']"),
                cityInput: $("input[name$='RegistrationAddressCity']"),
                cityKladrCodeInput: $("input[name$='RegistrationAddressCityKladrCode']"),
                streetInput: $("input[name$='RegistrationAddressStreet']"),
                streetKladrCodeInput: $("input[name$='RegistrationAddressStreetKladrCode']"),
                houseInput: $("input[name$='RegistrationAddressHouse']"),
                blockInput: $("input[name$='RegistrationAddressBlock']"),
                buildingInput: $("input[name$='RegistrationAddressBuilding']"),
                apartmentInput: $("input[name$='RegistrationAddressApartment']"),
                kladrCodeInput: $("input[name$='RegistrationAddressKladrCode']")
            };
            let residenceAddress = {
                regionInput: $("input[name$='ResidenceAddressRegion']"),
                regionKladrCodeInput: $("input[name$='ResidenceAddressRegionKladrCode']"),
                cityInput: $("input[name$='ResidenceAddressCity']"),
                cityKladrCodeInput: $("input[name$='ResidenceAddressCityKladrCode']"),
                streetInput: $("input[name$='ResidenceAddressStreet']"),
                streetKladrCodeInput: $("input[name$='ResidenceAddressStreetKladrCode']"),
                houseInput: $("input[name$='ResidenceAddressHouse']"),
                blockInput: $("input[name$='ResidenceAddressBlock']"),
                buildingInput: $("input[name$='ResidenceAddressBuilding']"),
                apartmentInput: $("input[name$='ResidenceAddressApartment']"),
                kladrCodeInput: $("input[name$='ResidenceAddressKladrCode']")
            };
            let employerAddress = {
                regionInput: $("input[name$='EmployerAddressRegion']"),
                regionKladrCodeInput: $("input[name$='EmployerAddressRegionKladrCode']"),
                cityInput: $("input[name$='EmployerAddressCity']"),
                cityKladrCodeInput: $("input[name$='EmployerAddressCityKladrCode']"),
                streetInput: $("input[name$='EmployerAddressStreet']"),
                streetKladrCodeInput: $("input[name$='EmployerAddressStreetKladrCode']"),
                houseInput: $("input[name$='EmployerAddressHouse']"),
                blockInput: $("input[name$='EmployerAddressBlock']"),
                buildingInput: $("input[name$='EmployerAddressBuilding']"),
                apartmentInput: $("input[name$='EmployerAddressApartment']"),
                kladrCodeInput: $("input[name$='EmployerAddressKladrCode']")
            };
            let datePickers = $(".form-group.date input");
            let activitySelect = $("select[name$='Activity']");
            let tinInput = $("input[name$='Tin']");
            let employerNameInput = $("input[name$='EmployerName']");
            let employerIndustrySelect = $("select[name$='EmployerIndustry']");
            let employerStaffInput = $("input[name$='EmployerStaff']");
            let employerPhoneNumberInput = $("input[name$='EmployerPhoneNumber']");
            let employeeStartDateInput = $("input[name$='EmployeeStartDate']");
            let employeePositionSelect = $("select[name$='EmployeePosition']");
            let employerInfoDiv = $("#employerInfo");
                        
            $(function () {
                initAddress(registrationAddress);
                initAddress(residenceAddress);
                initAddress(employerAddress);
                if (activitySelect.val() === '@((int)Activity.SelfEmployed)' || 
                    activitySelect.val() === '@((int)Activity.Unemployed)') {
                    employerInfoDiv.hide();      
                }
            });
            
            datePickers.datepicker({
                autoclose: true,
                language: 'ru'
            });
            
            $('#residenceAddressEquals').change(function() {
                if ($(this).is(':checked')) {
                    residenceAddress.regionInput.val(registrationAddress.regionInput.val());
                    residenceAddress.regionKladrCodeInput.val(registrationAddress.regionKladrCodeInput.val());
                    residenceAddress.cityInput.val(registrationAddress.cityInput.val());
                    residenceAddress.cityKladrCodeInput.val(registrationAddress.cityKladrCodeInput.val());
                    residenceAddress.streetInput.val(registrationAddress.streetInput.val());
                    residenceAddress.streetKladrCodeInput.val(registrationAddress.streetKladrCodeInput.val());
                    residenceAddress.houseInput.val(registrationAddress.houseInput.val());
                    residenceAddress.blockInput.val(registrationAddress.blockInput.val());
                    residenceAddress.buildingInput.val(registrationAddress.buildingInput.val());
                    residenceAddress.apartmentInput.val(registrationAddress.apartmentInput.val());
                    residenceAddress.kladrCodeInput.val(registrationAddress.kladrCodeInput.val());
                } 
                else {
                    residenceAddress.regionInput.val('');
                    residenceAddress.regionKladrCodeInput.val('');
                    residenceAddress.cityInput.val('');
                    residenceAddress.cityKladrCodeInput.val('');
                    residenceAddress.streetInput.val('');
                    residenceAddress.streetKladrCodeInput.val('');
                    residenceAddress.houseInput.val('');
                    residenceAddress.blockInput.val('');
                    residenceAddress.buildingInput.val('');
                    residenceAddress.apartmentInput.val('');
                    residenceAddress.kladrCodeInput.val('');
                }
                refreshAddressDisabled(residenceAddress);
            });
            
            activitySelect.change(function() {
                if ($(this).val() === '@((int)Activity.Employee)') {
                    employerInfoDiv.show();
                } 
                else {
                    employerInfoDiv.hide();
                    
                    employerAddress.regionInput.val('');
                    employerAddress.regionKladrCodeInput.val('');
                    employerAddress.cityInput.val('');
                    employerAddress.cityKladrCodeInput.val('');
                    employerAddress.streetInput.val('');
                    employerAddress.streetKladrCodeInput.val('');
                    employerAddress.houseInput.val('');
                    employerAddress.blockInput.val('');
                    employerAddress.buildingInput.val('');
                    employerAddress.apartmentInput.val('');
                    employerAddress.kladrCodeInput.val('');
                    employerNameInput.val('');
                    employerIndustrySelect.val(null);
                    employerStaffInput.val('');
                    employerPhoneNumberInput.val('');
                    employeeStartDateInput.val('');
                    employeePositionSelect.val(null);
                }
                refreshAddressDisabled(employerAddress);
            });
            
            tinInput.suggestions({
                token: token,
                type: "PARTY",
                onSelect: function(suggestion) {
                    tinInput.val(suggestion.data.inn);
                    employerNameInput.val(suggestion.data.name.short_with_opf);
                    employerAddress.regionInput.val(suggestion.data.address.data.region_type + ' ' + suggestion.data.address.data.region);
                    employerAddress.regionKladrCodeInput.val(suggestion.data.address.data.region_kladr_id);
                    if (suggestion.data.address.data.city_kladr_id){
                        employerAddress.cityInput.val(suggestion.data.address.data.city_type + ' ' + suggestion.data.address.data.city);
                        employerAddress.cityKladrCodeInput.val(suggestion.data.address.data.city_kladr_id);    
                    }
                    else {
                        employerAddress.cityInput.val(suggestion.data.address.data.settlement_type + ' ' + suggestion.data.address.data.settlement);
                        employerAddress.cityKladrCodeInput.val(suggestion.data.address.data.settlement_kladr_id);
                    }
                    
                    employerAddress.streetInput.val(suggestion.data.address.data.street_type + ' ' + suggestion.data.address.data.street);
                    employerAddress.streetKladrCodeInput.val(suggestion.data.address.data.street_kladr_id);
                    employerAddress.houseInput.val(suggestion.data.address.data.house_type + ' ' + suggestion.data.address.data.house);
                    employerAddress.blockInput.val(getBlock(suggestion.data.address.data));
                    employerAddress.buildingInput.val(getBuilding(suggestion.data.address.data));
                    employerAddress.apartmentInput.val(suggestion.data.address.data.flat);
                    employerAddress.kladrCodeInput.val(suggestion.data.address.data.kladr_id);
                    refreshAddressDisabled(employerAddress);
                }
            });
            
            function refreshAddressDisabled(address) {
                address.cityInput.attr('disabled',address.regionInput.val() === '');
                address.streetInput.attr('disabled',address.cityInput.val() === '');
                address.houseInput.attr('disabled',address.streetInput.val() === '');
                address.blockInput.attr('disabled',address.houseInput.val() === '');
                address.buildingInput.attr('disabled',address.houseInput.val() === '');
                address.apartmentInput.attr('disabled',address.houseInput.val() === '');
            }
            
            function initAddress(address) {
                refreshAddressDisabled(address);
                     
                address.regionInput.change(function() {
                    if (this.value === '') {
                        address.regionKladrCodeInput.val('');
                        address.cityInput.val('');
                        address.cityInput.change();
                    }
                });
                address.cityInput.change(function() {
                    this.disabled = address.regionInput.val() === '';
                    if (this.value === '') {
                        address.cityKladrCodeInput.val('');
                        address.streetInput.val('');
                        address.streetInput.change();
                    }
                });
                address.streetInput.change(function() {
                    this.disabled = address.cityInput.val() === '';
                    if (this.value === '') {
                        address.streetKladrCodeInput.val('');
                        address.houseInput.val('');
                        address.houseInput.change();
                    }
                });
                address.houseInput.change(function() {
                    let disabled = address.streetInput.val() === ''
                    this.disabled = disabled;
                    address.blockInput.attr('disabled', disabled);
                    address.buildingInput.attr('disabled', disabled);
                    address.apartmentInput.attr('disabled', disabled);
                    if (this.value === '') {
                        address.kladrCodeInput.val('');
                        address.blockInput.val('');
                        address.buildingInput.val('');
                        address.apartmentInput.val('');
                    }
                });
                
                address.regionInput.suggestions({
                    token: token,
                    type: "ADDRESS",
                    bounds: "region",
                    restrict_value: false,            
                    onSelect: function(suggestion) {
                        address.regionKladrCodeInput.val(suggestion.data.region_kladr_id);
                        address.cityInput.attr('disabled', address.regionInput.val() === '');
                        initializeCitySuggestions(suggestion.data.region_fias_id);
                    }
                });
                
                function initializeCitySuggestions(registrationAddressRegionFiasId) {
                     address.cityInput.suggestions({
                         token: token,
                         type: "ADDRESS",
                         constraints: {
                             locations: { 
                                 region_fias_id: registrationAddressRegionFiasId
                             }
                         },
                         bounds: "city-settlement",
                         restrict_value: false,           
                         onSelect: function(suggestion) {
                             address.cityInput.val(address.cityInput.val().trim())
                             if (suggestion.data.city_kladr_id){
                                address.cityKladrCodeInput.val(suggestion.data.city_kladr_id); 
                             }
                             else {
                                address.cityKladrCodeInput.val(suggestion.data.settlement_kladr_id);
                             }
                             address.streetInput.attr('disabled', address.cityInput.val() === '');
                             initializeStreetSuggestions(suggestion.data.city_fias_id, suggestion.data.settlement_fias_id);
                         }
                     });      
                }        
                
                function initializeStreetSuggestions(cityFiasId, settlementFiasId) {
                    address.streetInput.suggestions({
                        token: token,
                        type: "ADDRESS",
                        constraints: {
                            locations: { 
                                city_fias_id: cityFiasId,
                                settlement_fias_id: settlementFiasId,
                            }
                        },
                        bounds: "street",
                        restrict_value: true,            
                        onSelect: function(suggestion) {
                            address.streetKladrCodeInput.val(suggestion.data.street_kladr_id);
                            address.houseInput.attr('disabled', address.streetInput.val() === '');
                            initializeHouseSuggestions(suggestion.data.street_fias_id)
                        }
                    });
                }
                
                function initializeHouseSuggestions(registrationAddressStreetFiasId) {
                    address.houseInput.suggestions({
                        token: token,
                        type: "ADDRESS",
                        constraints: {
                            locations: { 
                                street_fias_id: registrationAddressStreetFiasId
                            }
                        },
                        bounds: "house",
                        restrict_value: true,            
                        onSelect: function(suggestion) {
                            address.houseInput.val(suggestion.data.house_type + ' ' + suggestion.data.house);
                            address.blockInput.val(getBlock(suggestion.data));
                            address.buildingInput.val(getBuilding(suggestion.data));
                            address.kladrCodeInput.val(suggestion.data.kladr_id);
                            let disabled = address.houseInput.val() === '';
                            address.blockInput.attr('disabled', disabled);
                            address.buildingInput.attr('disabled', disabled);
                            address.apartmentInput.attr('disabled', disabled);                    
                        }
                    });
                }
            }        
                              
            function getBlock(data) {
                if (!data.block_type || data.block_type === 'стр')
                    return '';
                if (data.block_type === 'к') {
                    let result = data.block.match(/^(\d+) стр \d+$/);
                    if (result && result.length > 1)
                        return data.block_type + ' ' + result[1];
                    if (/^\d+$/.test(data.block))
                        return data.block_type + ' ' + data.block;
                    return '???';
                }
                return '???';
            }
            
            function getBuilding(data) {
                if (!data.block_type)
                    return '';
                if (data.block_type === 'к') {
                    let result = data.block.match(/^\d+ (стр \d+)$/);
                    if (result && result.length > 1)
                        return result[1];
                    if (/^\d+$/.test(data.block))
                        return '';
                    return '???';
                }
                if (data.block_type === 'стр')
                    return data.block_type + ' ' + data.block;
                return '???';
            }
            
            function beforeSubmit(){
                datePickers.each(function() {
                    if ($(this).val() !== '') {
                        let date = $(this).datepicker('getDate');
                        $(this).val(date.toISOString());    
                    }
                });
                $(".form-group.phone input").each(function() {
                   $(this).val($(this).val().replace(/[^0-9]/g,''));
               });
                $("form").submit()
            }
        </script>
    }
}
   

