﻿@page "{handler?}"
@using Admin.Web.Domain.FileBuilders
@using Admin.Web.Extensions
@using Yes.CreditApplication.Api.Contracts.Enums
@using Yes.Infrastructure.Common.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Заявки на кредит";
}


<form id="filtersForm" method="get" autocomplete="off">
    <div class="form-row">
        <div class="form-group date col">
            <input type="text" class="form-control" name="dateFrom" value="@Model.DateFrom" placeholder="Дата с">
        </div>
        <div class="form-group date col">
            <input type="text" class="form-control" name="dateTo" value="@Model.DateTo" placeholder="Дата по">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="lastName" value="@Model.LastName" placeholder="Фамилия" >
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="firstName" value="@Model.FirstName" placeholder="Имя">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="middleName" value="@Model.MiddleName" placeholder="Отчество">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group date col">
            <input type="text" class="form-control" name="dateOfBirth" value="@Model.DateOfBirth" placeholder="Дата рождения">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="phoneNumber" value="@Model.PhoneNumber" placeholder="Номер телефона (79999999999)">
        </div>
        <div class="form-group col">
            <select class="form-control custom-select" name="statuses" id="statusSelect" multiple="multiple">
                <option value="@((int)CreditApplicationStatus.Draft)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.Draft)">@CreditApplicationStatus.Draft.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.New)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.New)">@CreditApplicationStatus.New.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.InProgress)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.InProgress)">@CreditApplicationStatus.InProgress.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.UnableToContact)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.UnableToContact)">@CreditApplicationStatus.UnableToContact.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.UnableToContactArchive)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.UnableToContactArchive)">@CreditApplicationStatus.UnableToContactArchive.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.Processed)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.Processed)">@CreditApplicationStatus.Processed.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.Rejected)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.Rejected)">@CreditApplicationStatus.Rejected.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.ClientRejected)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.ClientRejected)">@CreditApplicationStatus.ClientRejected.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.NeedToCallBack)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.NeedToCallBack)">@CreditApplicationStatus.NeedToCallBack.GetDescription()</option>
                <option value="@((int)CreditApplicationStatus.TechnicalProblem)" selected="@Model.Statuses.Contains((int)CreditApplicationStatus.TechnicalProblem)">@CreditApplicationStatus.TechnicalProblem.GetDescription()</option>
            </select>
        </div>
        <div class="form-group col">
            <select class="form-control custom-select" name="profileTypes" id="profileTypeSelect" multiple="multiple">
                <option value="@((int)ProfileType.Full)" selected="@Model.ProfileTypes.Contains((int)ProfileType.Full)">@ProfileType.Full.GetDescription()</option>
                <option value="@((int)ProfileType.Medium)" selected="@Model.ProfileTypes.Contains((int)ProfileType.Medium)">@ProfileType.Medium.GetDescription()</option>
                <option value="@((int)ProfileType.Short)" selected="@Model.ProfileTypes.Contains((int)ProfileType.Short)">@ProfileType.Short.GetDescription()</option>
            </select>
        </div>
        <div class="form-group col text-right">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary mb-2" asp-page-handler="Search">
                    <svg style="margin-top: -3px; margin-right: 1px;" class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
                    </svg> Найти
                </button>
                <button type="button" class="btn btn-primary mb-2 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="submit" asp-page-handler="ExportCsv">
                       <svg class="bi bi-file-text" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                         <path fill-rule="evenodd" d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                       </svg> @FileType.Csv
                    </button>
                    <button class="dropdown-item" type="submit" asp-page-handler="ExportExcel">
                        <svg style="margin-top: -3px; margin-right: 1px;" class="bi bi-file-spreadsheet" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M13 6H3V5h10v1zm0 3H3V8h10v1zm0 3H3v-1h10v1z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M5 14V6h1v8H5zm4 0V6h1v8H9z" clip-rule="evenodd"/>
                        </svg> @FileType.Excel
                    </button>
                </div>
            </div>
        </div>
    </div>
        
    @if (Model.CreditApplications == null)
    {
        @await Html.PartialAsync("_Error")
    }
    else
    {
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Телефон</th>
                <th scope="col">ФИО клиента</th>
                <th scope="col">Статус заявки</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Таймер</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CreditApplications)
                {
                    <tr class="@(item.Status.GetCssColorClass())" style="cursor: pointer" onclick="window.location='credit-applications/@(item.CreditApplicationId)'">
                        <td>@item.PhoneNumber</td>
                        <td>@item.LastName @item.FirstName @item.MiddleName</td>
                        <td>@item.Status.GetDescription()</td>
                        <td>@item.Date.ToDateAndTimeFormat()</td>
                        <td>@if (
                                    item.Status == CreditApplicationStatus.New || 
                                    item.Status == CreditApplicationStatus.InProgress || 
                                    item.Status == CreditApplicationStatus.UnableToContact || 
                                    item.Status == CreditApplicationStatus.NeedToCallBack || 
                                    item.Status == CreditApplicationStatus.TechnicalProblem
                                )
                            {
                                @((DateTime.Now - item.Date).ToString(@"hh\:mm\:ss"))
                            }</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <input type="hidden" id="pageNumber" name="pageNumber" value="@Model.PageNumber"/>
            @if (Model.CreditApplications.Count > 0)
            {
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <button type="button" asp-page-handler="Search" class="btn page-link" disabled="@(Model.PreviousButtonEnabled ? null : "disabled")" onclick="beforeSubmit(@(Model.PageNumber - 1));">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </button>
                    </li>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <button type="button" asp-page-handler="Search" class="page-link" onclick="beforeSubmit(@i);">@i</button>
                        </li>
                    }
                    <li class="page-item">
                        <button type="button" asp-page-handler="Search" class="btn page-link" disabled="@(Model.NextButtonEnabled ? null : "disabled")" onclick="beforeSubmit(@(Model.PageNumber + 1));">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </button>
                    </li>
                </ul>
            }            
        </div>
    }
</form>

@section scripts
{
    <script>
         $('#statusSelect').multiselect({
            buttonClass: 'btn btn-light',
            buttonWidth: '100%',
            nonSelectedText: 'Статус',
            selectAllText: 'Все',
            includeSelectAllOption: true,
            numberDisplayed: 1,
            selectAllValue: 0,
            selectAllName: 'statuses'
         });
         
         $('#profileTypeSelect').multiselect({
            buttonClass: 'btn btn-light',
            buttonWidth: '100%',
            nonSelectedText: 'Анкета',
            selectAllText: 'Все',
            includeSelectAllOption: true,
            numberDisplayed: 1,
            selectAllValue: 0,
            selectAllName: 'profileTypes'
         });
         
         $('.form-group.date input').datepicker({
             autoclose: true,
             language: 'ru'
         });
         
           
        function beforeSubmit(pageNumber){
            $('#pageNumber').val(pageNumber);
            $("#filtersForm").submit()
        }
    </script>
}
