@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Введите логин и пароль.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="margin-left: 20px;">
                            <input asp-for="Input.RememberMe" style="margin-top: 7px;"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>@*
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="/ForgotPassword">Забыли пароль?</a>
                    </p>
                </div>*@
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
      
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
