﻿@page "{handler?}"
@model UsersModel
@{
    ViewData["Title"] = "Заявки на кредит";
}


<form id="filtersForm" method="get" autocomplete="off">
    <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">ФИО</th>
                <th scope="col">Админ</th>
                <th scope="col">Оператор</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr style="cursor: pointer" onclick="window.location='/users/@(item.UserId)'">
                        <td>@item.UserName</td>
                        <td>@item.Name</td>
                        <td>@(item.IsAdmin ? "Да" : "Нет")</td>
                        <td>@(item.IsOperator ? "Да" : "Нет")</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary mb-2" asp-page="/CreateUser">
           <svg style="margin-top: -3px; margin-right: 1px;" class="bi bi-plus-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
             <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
             <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
           </svg> Создать
        </a>
</form>