@using Admin.Web.Extensions
@using Yes.CreditApplication.Api.Contracts.Admin
@using Yes.CreditApplication.Api.Contracts.Enums
@using Yes.Infrastructure.Common.Extensions
@model List<CreditApplicationDecisionModel>

<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">Кредитор</th>
        <th scope="col">Статус</th>
        <th scope="col">Сумма</th>
        <th scope="col">Срок</th>
        <th scope="col">Дата</th>
        <th scope="col">Детали</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CreditOrganizationName</td>
            <td>@Html.Raw(item.CreditOrganizationStatus.GetSvgIcon()) @item.CreditOrganizationStatus.GetDescription()</td>
            <td>@item.CreditAmount</td>
            <td>@item.CreditPeriod</td>
            <td>@(item.UpdatedDate.HasValue ? item.UpdatedDate.Value.ToDateAndTimeFormat() : string.Empty)</td>
            <td>@if (!string.IsNullOrWhiteSpace(item.Details)){<a href="javascript:void(0);" class="text-secondary" data-toggle="popover" data-content="'@item.Details'">Детали</a>}</td>
            <td>@if (item.CreditApplicationStatus == CreditApplicationStatus.InProgress)
                {
                    /*if (item.CreditOrganizationStatus == CreditOrganizationRequestStatus.None ||
                        item.CreditOrganizationStatus == CreditOrganizationRequestStatus.Pending ||
                        item.CreditOrganizationStatus == CreditOrganizationRequestStatus.AuthorizaionErrorCheck ||
                        item.CreditOrganizationStatus == CreditOrganizationRequestStatus.ValidationErrorCheck ||
                        item.CreditOrganizationStatus == CreditOrganizationRequestStatus.NotApplicable ||
                        item.CreditOrganizationStatus == CreditOrganizationRequestStatus.ServerErrorCheck)
                    {
                        <a class="btn btn-info btn-sm float-right" href="#" onClick="resendCreditApplicationRequest('@item.CreditOrganizationId');">Отправить заявку</a>
                    }*/
                    if (item.CreditOrganizationStatus != CreditOrganizationRequestStatus.Confirmed)
                    {
                        <a class="btn btn-success btn-sm float-right" href="#" onClick="confirmCreditApplication('@item.CreditOrganizationId');">Отправить</a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                placement:'auto'
            });
                        
         /*   $('.popover-dismiss').popover({
               trigger: 'focus'
            });*/
        });
</script>